:root {
  --background: #1a1a1a;
  --foreground: #d1d0d0;
  --secondary: #b8b6b6;
  --tertiary: #343434;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
